:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #BCBAB8;
    --text-secondary: #F9F9F9;
    --bg-primary: black;
    --bg-secondary: #9D8F8F;
    --transition-speed: 600ms;
}





body {
    color: white;
    background: black;
    margin: 0;
    padding: 0;
    line-height: 2;
    text-align: center;

    
    
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

body.home .site-footer {
    display: none;
}

main {
    margin-left: 4rem;
    transition: 1s ease;

}

h1 {
    color: var(--bg-secondary);
    margin: 0;
}

p {
    margin: 0;

}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
  
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 999;
}



.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7) hue-rotate(0.5);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 22px;
}

.icon {
    min-width: 2rem;
    margin: 0 1.5rem;
    transition: 200ms ease;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;

}

.logo .logo-icon {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo .logo-icon {
    transform: rotate(-180deg);
}


.logo-text {
    margin: 0 2rem 0 0;
    text-align: left;
 
}

/* Home Presentation Card */

.home-page {
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 2.5%;
    
   

}

.landing-profile {
    color: var(--bg-secondary);
}

.home-presentation-card {
    
    width: 80%;
    margin-top: 0;
    
}

.home-title {
    margin-top: 0;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 1.5s;
    animation-duration: 1200ms;
}

.home-subtitle {
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2s;
    animation-duration: 1200ms;
}

.home-text {
    opacity: 0;
   
    animation-delay: 2.5s;
    animation-duration: 1200ms;
}


.lucas-img {
    width: 120px;
    height: 120px;
    margin: 2rem 0 0 0;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: .75s;
    animation-duration: 1200ms;
    border-radius: 50%;
    outline: 3px solid transparent;
    outline-color: var(--bg-secondary);
    color: white;
   

}

.landing-page-img {
   
    opacity: 0.4;
    z-index: -999;
    border: transparent;
    border-image: 1px var(--transition-speed);
 
}

/* Botão Redes Sociais */

.social {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 3s;
    animation-duration: 1200ms;
}


.float {
   
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    transform: scale(1.8);
    margin: 0;
    padding: 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 1.5rem 0;
    border-radius: 50px;
    box-shadow: 0px 0px 4px var(--bg-secondary);
}

/* Perfil */

.profile-page {
    margin-left: 6rem;
    padding-top: 1rem;
}

.profile-description {
    display: flex;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 3s;
    animation-duration: 1000ms;
    flex-direction: column;
}

.profile-img {
    width: 200px;
    height: 200px;
    margin: 2rem 1rem 0 0;
    border-radius: 50%;
    outline: 3px solid transparent;
    outline-color: var(--bg-secondary);
    color: white;
    position: absolute;
    z-index: 999;
}

.profile-card {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-top: 50px;
}

.profile-title {
    margin-left: 8%;
    font-size: 60px;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 1.5s;
    animation-duration: 1000ms;
    color: var(--text-primary);
}

.profile-subtitle {
  
    margin: 0 0 2rem 6rem;
    font-size: 44px;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2s;
    animation-duration: 1000ms;
}


.profile-content {
    color: var(--text-secondary);
    font-size: 22px;
    width: 50%;
    opacity: 0;
    margin-left: 27.5%;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2.5s;
    animation-duration: 1000ms;
}

.profile-subtitle-service {
    display: block;
    padding-right: 100px;
    font-size: 36px;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 3.5s;
    animation-duration: 1000ms;
    color: var(--bg-secondary);
    font-size: 48px;

}

.profile-page .wrapper {
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 3s;
    animation-duration: 1000ms;

}



/* Skills */

.skill-page {
    margin-top: 0;
}

.skill-page .wrapper {
    margin-top: 0;
}
.skill-heading {
    font-size: 56px;
}
.skills-card {
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    gap: 2rem;
 
}

.skill-subtopic {
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.skill-subtopic h1 {
    font-size: 30px;
}

.skill-item {
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    
}

.skill-icon {
    min-width: 2rem;
    margin: 0 1.5rem;
    height: 60px;
    width: 60px;

}

.skill-text {
    margin: 0;
    font-size: 22px;

}

.frontend {
    

}



/* Cards */

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    justify-content: center;
  
}

.card {
    box-shadow: 0 0 2px 5px rgb(233, 223, 223);
    border-radius: 0.2rem;
    min-width: 28rem;
    display: flex;
}

.card-img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
}

.card-body {
    margin: 1rem;
}

.card-title {
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.card-content {
    line-height: 1.2rem;
}

.card-price {
    font-size: 1.4rem;
    margin-top: 0.6rem;
}

.card-btn {
    border: none;
    border-top: 1px solid rgb(120, 120, 162);
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.card-btn:hover {
    color: rgb(15, 15, 159);
}


/* Animações */
@keyframes landingPageAnimation {
    100% {
        opacity: 1;
        }
  
    
}
@keyframes landingPageAnimationText {
    100% {
        opacity: 1;
        }
    50% {
        opacity: 0.5;
        }
    0% {
        opacity: 0;
        }
    
}

@keyframes profileImgLeft {
    0%   {left: 46.70%;}
    100% {left:20%;}
  }

@keyframes mobileIcon {
    0%   {background-color: black;}
    100% {background-color: var(--bg-secondary);}
  }


/* Design Responsivo */

/* Telas de celulares: */

@media only screen and (max-width: 600px) {

    main {
        margin:0
    }
    .profile-icon-mobile {
        animation: mobileIcon 1s ease forwards;
        animation-delay: 3s;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

   .landing-page-img {
    margin: 0;
    height: fit-content;
    width: 100%;
    object-fit: contain;
   } 

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .home-title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2;
    }
    .home-subtitle {
        margin: 0;
        font-size: 30px;
    }

    .home-text {
        font-size: 18px;
        
    }

    .profile-img {
       
        left: 30%;
        top: 30%;
    }
    .profile-page {
       margin: 0;
       padding: 0 1rem 0 0;

    }

    .profile-description {
        font-size: 20px;
        justify-content: left;
        margin-top: 60%;
    }
    .profile-content {
        width:90%;
        margin-left: 10px;
        padding-top: 10px;
    }
    .profile-title {
        margin: 0;
        padding: 0;
        line-height: 1.4;
    }
    .profile-subtitle {
        margin: 0;
    }

    .profile-subtitle-service {
        margin-left: 15%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skill-heading {
    
        margin-bottom: 0;
    }

    .wrapper {
        position: absolute;
        margin-top: 25rem;
        opacity: 0;
        animation: landingPageAnimation 3s ease forwards;
        animation-delay: 2.5s;
        animation-duration: 1000ms;
        
    }

  


}

/* Telas de grandes: */

@media only screen and (min-width: 600px) {
    .landing-page-img {
        width: 100%;
        height: 50vh;
    }
    .home-page  {
        left: 35%;
        top: 15%;
    }
    .home-subtitle {
        margin: 0 0 2rem;
        font-size: 22px;
    }
    .home-title {
        margin: 0;
        font-size: 48px;
    }
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: block;
        transition: opacity var(--transition-speed);
    }
    .profile-img {
        width: 200px;
        height: 200px;
        margin: 2rem 1rem 0 0;
        animation: profileImgLeft ease 3s forwards;
        animation-delay: 1s;
        animation-duration: 1200ms;
        left: 46.70%;
        top: 20%;
    }
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
        

    }

    .card {
        flex-direction: column;
        text-align: center;
        min-width: 4rem;
        margin-top: 4rem;
    }

    .card-img {
        width: 100%;
        height: 3rem;
    }

    


}
