:root {
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    --text-primary: #BCBAB8;
    --text-secondary: #F9F9F9;
    --bg-primary: black;
    --bg-secondary: #9D8F8F;
    --transition-speed: 600ms;
}





body {
    color: white;
    background: black;
    margin: 0;
    padding: 0;
    line-height: 2;
    text-align: center;

    
    
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

body.home .site-footer {
    display: none;
}

main {
    margin-left: 4rem;
    transition: 1s ease;

}

/* Navbar */

.navbar {
  
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 999;
}



.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7) hue-rotate(0.5);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-size: 22px;
}

.icon {
    min-width: 2rem;
    margin: 0 1.5rem;
    transition: 200ms ease;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;

}

.logo .logo-icon {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo .logo-icon {
    transform: rotate(-180deg);
}


.logo-text {
    margin: 0 2rem 0 0;
    text-align: left;
 
}

/* Home Presentation Card */

.home-page {
    position: absolute;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 20%;
    left: 40%;
   

}

.home-presentation-card {
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2s;
    animation-duration: 1200ms;
    
}

.home-title {
    margin-top: 0;
}


.lucas-img {
    width: 200px;
    height: 200px;
    margin: 2rem 0 0 0;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 0.5s;
    animation-duration: 1200ms;
    border-radius: 50%;
    outline: 3px solid transparent;
    outline-color: var(--bg-secondary);
    color: white;
   

}

.landing-page-img {
    margin: 0;
    height: fit-content;
    width: 100%;
    object-fit: contain;
    opacity: 0.4;
    z-index: -999;
    border: transparent;
    border-image: 1px var(--transition-speed);
 
}

/* Botão Whatsapp */

.whatsapp-float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transform: scale(1.8);
}

.whatsapp-icon {
    margin-top: 5px;
}

/* Perfil */

.profile-page {
    margin-left: 6rem;
    padding-top: 1rem;
}

.profile-description {
    display: flex;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2.5s;
    animation-duration: 1000ms;
    flex-direction: column;
}

.profile-img {
    width: 200px;
    height: 200px;
    margin: 2rem 1rem 0 0;
    animation: profileImgLeft ease 3s forwards;
    animation-delay: 1s;
    animation-duration: 1200ms;
    border-radius: 50%;
    outline: 3px solid transparent;
    outline-color: var(--bg-secondary);
    color: white;
    position: absolute;
    left: 46.70%;
    top: 20%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-top: 100px;
}

.profile-title {
    margin-left: 10%;
    font-size: 48px;
    opacity: 0;
    animation: landingPageAnimation 3s ease forwards;
    animation-delay: 2s;
    animation-duration: 1000ms;
    color: var(--text-primary);
}

.profile-subtitle {
  
    margin: 0 0 0 8rem;
    font-size: 36px;
}

.profile-content {

    font-size: 22px;
    width: 50%;
    margin-left: 32%;
}


/* Cards */

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.card {
    box-shadow: 0 0 2px 5px rgb(233, 223, 223);
    border-radius: 0.2rem;
    min-width: 28rem;
    display: flex;
}

.card-img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
}

.card-body {
    margin: 1rem;
}

.card-title {
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.card-content {
    line-height: 1.2rem;
}

.card-price {
    font-size: 1.4rem;
    margin-top: 0.6rem;
}

.card-btn {
    border: none;
    border-top: 1px solid rgb(120, 120, 162);
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.card-btn:hover {
    color: rgb(15, 15, 159);
}


/* Animações */
@keyframes landingPageAnimation {
    100% {
        opacity: 1;
        }
  
    
}
@keyframes landingPageAnimationText {
    100% {
        opacity: 1;
        }
    50% {
        opacity: 0.5;
        }
    0% {
        opacity: 0;
        }
    
}

@keyframes profileImgLeft {
    0%   {left: 46.70%;}
    100% {left:20%;}
  }


/* Design Responsivo */

/* Telas de celulares: */

@media only screen and (max-width: 600px) {

    main {
        margin:0
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .home-page  {
        left: 15%;
        top: 30%;
    }
    .whatsapp-icon {
        margin-top: 10px;
    }
    
      .whatsapp_float {
        width: 40px;
        height: 40px;
        top: 30px;
        right: 10px;
        font-size: 22px;
    }



}

/* Telas de grandes: */

@media only screen and (min-width: 600px) {

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: block;
        transition: opacity var(--transition-speed);
    }
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    }

    .card {
        flex-direction: column;
        text-align: center;
        min-width: 14rem;
    }

    .card-img {
        width: 100%;
        height: 12rem;
    }


}
